#box{
    box-sizing: border-box;
    border: 2px solid rgb(242, 8, 238);
    border-radius: 20px;
    margin: 10% 10% 10% 10%;
    padding: 10px 40px 20px 40px;
}
#settings{
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
}
#close{
    justify-content: center;
    position: relative;
    left: 68%;
    margin-top: 3%;
    margin-bottom: 3%;
    /* box-sizing: border-box;
    border: 1px solid black; */
    padding: 10px;
    background-color: white;
    /* border-radius: 10px; */
    /* transition: -3s all ease-in-out; */
    transition: .3s all ease-in-out;
    transform: scale(1)
}
#close:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    transform:scale(1.1);
    filter: brightness(1.5);
}
select {
    width: 180px;
    height: 30px;
    
    /* margin: 10px; */
}
#first{
    display: block;
    /* background-color: aqua; */
    padding-left: 20px;
    padding-bottom: 20px;
    
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
#fSelect{
    width: 50%;
    height: 30px;
}
#second{
    display: flex;
    /* background-color: rgb(65, 10, 230); */
    margin: 4% 0 4% 0 ;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
.themename{
    margin: 0 10% 5px 20px;
}
.themetype{
    margin: 0 15% 5px 60px;
}
.formtype{
    margin: 0 40px 5px 60px;
}
#third{
    display: flex;
    /* background-color: bisque; */
    margin: 4% 0 4% 0 ;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
.questions{
    margin: 0 12% 5px 20px;
}
.skip{
    margin: 0 15% 5px 40px;
}
.option{
    margin: 0 40px 5px 60px;
}
#fourth{
    display: flex;
    /* background-color: rgb(78, 243, 72); */
    margin: 4% 0 4% 0 ;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
.fonts{
    margin: 0 40px 5px 20px;
}
.colours{
    margin: 0 40px 5px 110px;
}
.cancel{
    margin: 0 10px 0 10px ;
    width: 10%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    /* transition: -3s all ease-in-out; */
    transition: .3s all ease-in-out;
    transform: scale(1)
}
.save{
    margin: 0 10px 0 10px ;
    width: 10%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    /* transition: -3s all ease-in-out; */
    transition: .3s all ease-in-out;
    transform: scale(1)
}
button:hover{
    background-color: rgb(84, 84, 246);
    color: white;
    cursor: pointer;
    transform:scale(1.1);
    filter: brightness(1.2);
}
.container{
    transition: -3s all ease-in-out;
}
.header-container{
    position: fixed;
    height:70px;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container-Default{
    box-shadow: 0px 3px 8px #00000029;
    background-color: #FFFFFF;
    color:#35393C
}
.header-container-Dark{
    box-shadow:  0px 3px 8px #838383;
    background-color:#081838 ;
    color:#FFFFFF
}
.header-container-pink{
    box-shadow: 0px 3px 8px #ec6ec6;
    background-color: #4d1e4b;
    color: #ec6ec6;
}
.logo{
    margin-left: 85px;
    font-size: 22px;
    letter-spacing: 0.22px ;
    color: #35393C;
}
.logo-Dark{
    color:#b1c4e9
}
.logo-Default{
    color:#35393C
}
.logo-pink{
    color:#ec6ec6
}

.profile-pic{
    width:34px;
    height:34px;
    border-radius: 50%;
    pointer-events: none;

}
.profile{
    margin-right: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-div{
    margin-left: .8rem;
    display: flex;
    justify-content: center;
    vertical-align: center;
    transition: .3s all ease-in-out;
    transform: scale(1);
}

.theme-btn{
    margin-right: .8rem;
    font-size: 1rem;
    padding: .4rem;
    border-radius: .5rem;
    border: none;
    transition: .3s all ease-in-out;
    transform: scale(1);
    text-align: center;
    align-content: center;
    /* transition: filter 300ms; */
    /* height:30px */
}


.theme-btn-Default{
    background-color:#278DF1;
    color:#FFFFFF;
}
.theme-btn-Dark{
    background-color: #3e75ab;
    color:#FFFFFF
}
.theme-btn-pink{

    background-color: #ec6ec6;
    color:#4d1e4b
}
.theme-btn:hover{
    cursor: pointer;
    transform:scale(1.1);
    filter: brightness(1.2);
}
.logout-div:hover{
    cursor: pointer;
    transform:scale(1.1);
    filter: brightness(1.2);
}

.theme-div{
    display: flex;
}
.dropdown-wrapper {
    position: relative;
    width: 200px;
  }
  
  .dropdown-wrapper .dropdown {
    background: #fff;
    width: 200px;
    height: 0px;
    position: absolute;
    top: 100px;
    left:135px;
    font-size: 22px;
    display: flex;
    align-items: center;
  }
  ul {
    background: #fff;
    color: #000000;
    list-style: none;
    margin: 0;
    font-size: 18px;
    overflow: hidden;
    height: 0px;
    transition: height 0.3s ease;
    padding: 0;
    z-index: 5;
  }
  
  ul.open {
    position: absolute;
    height: 150px;
    overflow: auto;
    z-index: 7;
  }
  ul li{
    padding: .5rem 1rem;
  }

  ul li:hover{
    background-color: #b1c4e9;
    color:#000000;
    cursor: pointer;
  }

  .profile-input{
    position: fixed;
    width:20px;
    right:200px;
    border-radius: 50%;
    border: none;
    z-index: 1;
    /* pointer-events: none; */
    /* visibility: hidden; */
    opacity: 0;
  }
  .profile-input:hover{
    cursor: pointer;
  }
  .prev-btn{
    font-size: 1rem;
    letter-spacing: 0.16px;
    padding: .3rem 0;
    margin-left: .8rem;
    width:140px;
    border-radius: 4px;
    transform: scale(1);
    transition: .3s all ease-in-out;
}
.prev-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(1.2);
}
.save-Default{
    background-color: #278DF1;
    color:blue;
    border: 2px solid #278DF1;
}
.save-pink{
    background-color: #ec6ec6;
    color:#FFFFFF;
    border: 2px solid #ec6ec6;
}
.save-Dark{
    background-color: #3e75ab;
    color:#b1c4e9;
    border: 2px solid #3e75ab;
}
.cls-btn{
    font-size: 1rem;
    letter-spacing: 0.16px;
    padding: .3rem 0;
    margin-left: .8rem;
    width:25px;
    border-radius: 4px;
    transform: scale(1);
    transition: .3s all ease-in-out;
}
#themebody{
    height: 50%;
    width:100%;
    position: absolute;
}

